{#
/**
 * @file
 * Template for the DevPanel Marketplace Bar.
 */
#}
<div id="dp-alert-wrapper" data-nosnippet>
  <div class="dp-top-bar">
    <div class="dp-logo">
      <img src="https://drupalforge.s3.us-west-2.amazonaws.com/prod/public/2026-05/df-logo-white.svg" alt="DevPanel" />
    </div>
    
    <button id="dp-toggle-btn" class="dp-toggle-btn">
      App Details
      <svg fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg>
    </button>
    
    {% if show_buy_now %}
      <a href="{{ buy_link }}" class="dp-buy-btn" target="_blank">
      {% if is_paid == 'true' %}
        Manage
      {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"/></svg>
        Buy Now
      {% endif %}
      </a>
      {% endif %}
    {% endif %}
  </div>
  
  <div id="dp-details-panel" class="dp-details-panel">
    <div class="dp-details-grid">
      <div class="dp-detail-item">
        <span class="dp-detail-label">Application</span>
        <span class="dp-detail-value">{{ app_name }}</span>
      </div>
      <div class="dp-detail-item">
        <span class="dp-detail-label">Submission ID</span>
        <span class="dp-detail-value">{{ sub_id }}</span>
      </div>
      <div class="dp-detail-item">
        <span class="dp-detail-label">Contact Email</span>
        <span class="dp-detail-value">{{ email }}</span>
      </div>
      <div class="dp-detail-item setting-item">
        <a class="dp-detail-label" href="/admin/config/system/devpanel-marketplace-bar">Settings</a>
      </div>
    </div>
  </div>
</div>
